<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Ekafebry</title>
</head>
<body style="background-color: rgb(71, 168, 136);">
    <a href="\produk" class="link">Beranda</a>
    <h1 style="text-align: center;">SELAMAT DATANG DI EKA SABLON</h1>
    <h3>Anda dapat menyablon berbagai macam produk seperti</h3>
    <h3>-Tas</h3>
    <h3>-Kaos</h3>
    <h3>-Kaos Jersey</h3>
    <h3>-Sweater</h3>
    <!--<a href="myfirs.html" class="link">contoh</a>-->
</body>
</html>